p {
    color: rgb(233, 143, 8);
}

li {
    color: rgb(31, 31, 207);
}

.h1-chick,
.h1-cuban,
.h1-texas,
.h1-odin {
    color: green;
}

.chick-pic,
.cuban-pic {
    height: auto;
    width: 400px;
}

.texas-pic {
    height: 400px;
    width: auto;
}

